.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

@-webkit-keyframes bounceInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(30px);
    }
    80% {
        -webkit-transform: translateX(-10px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}

@keyframes bounceInLeft {
    0% {
        opacity: 0;
        transform: translateX(-2000px);
    }
    60% {
        opacity: 1;
        transform: translateX(30px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}
.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
}


@-webkit-keyframes bounceInDown {
   0% {
       opacity: 0;
        -webkit-transform: translateY(-2000px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateY(30px);
    }
    80% {
        -webkit-transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}

@keyframes bounceInDown {
    0% {
        opacity: 0;
        transform: translateY(-2000px);
    }
    60% {
        opacity: 1;
        transform: translateY(30px);
    }
    80% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

@-webkit-keyframes bounceInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-30px);
    }
    80% {
        -webkit-transform: translateX(10px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}

@keyframes bounceInRight {
    0% {
        opacity: 0;
        transform: translateX(2000px);
    }
    60% {
        opacity: 1;
        transform: translateX(-30px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}

.bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
}

md-toolbar section img{
  cursor: pointer;
}

.bodyColor {
  background-color: #fafafa;
  height: 100%;
  form {
    background-color: inherit;
  }
}

#sidenavToolbar {
  padding : 10px;
  background-color: #38B0DE;
}

#topToolbar {
  background-color: #ff8d00;
}

#logo {
  padding-left:50px;
}

#bottomToolbar {
text-align:center;
height:50px;
width:100%;
margin:auto;
background-color: #696969;
md-button {
  color: white;
}
}

#splashpic {
  background-image: url('/images/apartment.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height: 100%;
}

.animationImgs {
  img {
    padding: 40px 20px 60px 20px;
  }
}

.errorMsg {
  font-size: 12px;
  padding: 20px;
  color: red;
}

.pleaseLogin {
  font-size: 16px;
  text-align: center;
  font-style: oblique;
}

#contactMsg {
  padding-left: 100px;
}

md-input-container {
  display: inherit;
}

#aboutSection {
  padding: 40px 90px 90px 90px;
}

.addEditforms {
  padding: 40px 90px 40px 150px;
  md-buttons {
    padding-top: 50px;
  }
}

.addPetPalButton {
text-align:center;
padding:25px;
}


.petPalCards {
padding-left: 90px;
padding-bottom: 90px;
.cardTitle {
  text-align: center;
}
}

.chatList {
background-color: #fafafa;
padding-left:90px;
padding-right: 90px;
i {
padding-top: 4px;
}
#chatMsg {
padding:10px;
}
md-divider {
padding: 5px
}
}
