<div ng-controller="HomeController as vm" class='bodyColor'>

<form ng-submit="vm.contact()" style="padding: 90px">
  <section layout layout-align="center">
  <div class="animated bounceInRight" style="padding-bottom: 30px" >
    <img src="/images/contact.png" style="padding:20px">
    <img src="/images/email.png" style="padding:20px">
  <img src="/images/key.png" style="padding:20px">
</div>
</section>
<p style="padding-bottom: 30px"> Immediately regret falling into bathtub brown cats with pink ears for favor packaging over toy yet stick butt in face run in circles. Stare at ceiling climb a tree, wait for a fireman jump to fireman then scratch his face hunt anything that moves intently stare at the same spot, or destroy couch.</p>
  <md-input-container layout-padding>
    <label> Name </label>
    <input disabled ng-model="vm.msg.name  | usernameFilter" ></input>
  </md-input-container>
  <md-input-container layout-padding>
    <label> Suite Number </label>
    <input disabled ng-model="vm.msg.unit"></input>
  </md-input-container>
  <md-input-container layout-padding>
  <label> Email </label>
  <input disabled ng-model="vm.msg.email"></input>
</md-input-container>
  <md-input-container layout-padding>
    <label> Message </label>
    <textarea required ng-model="vm.msg.msg" md-maxlength="2000"></textarea>
  </md-input-container>

  <div style="padding-top:50px" layout>
    <md-button type="submit" class="md-raised" > Send </md-button>
    <md-button type="button" class="md-raised" ui-sref="Home">Cancel</md-button>
</div>
</form>
</div>
