<div ng-controller="EditSitterController as vm">

  <form ng-submit="vm.updateSitter()" layout="row">
<div flex="60" style="padding-left: 40px">
    <md-input-container layout-padding>
      <label> Pal Name </label>
      <input required ng-model="vm.editSitter.name" ></input>
    </md-input-container>
    <md-input-container layout-padding>
      <label> Unit Number </label>
      <input required ng-model="vm.editSitter.unit" ></input>
    </md-input-container>
    <md-input-container layout-padding>
      <label> Describe Yourself </label>
      <textarea ng-model="vm.editSitter.bio" columns="1" md-maxlength="1000"></textarea>
      </md-input-container>

    <div layout="row" style="padding-top:50px">
      <md-button type="submit" class="md-raised"> Edit Yourself, Pal </md-button>
      <md-button type="button" class="md-raised" ui-sref="ViewSitters"> Cancel </md-button>
    </div>
</div>
</form>
</div>
