<div ng-controller="EditPetController as vm">

  <form ng-submit="vm.updatePet()" layout="row">
 <div flex="60" style="padding-left: 40px">
        <md-input-container layout-padding>

          <label> Pet Name </label>
          <input required ng-model="vm.editPet.name" ></input>
        </md-input-container>
        <md-input-container layout-padding>
          <label> Owner Name </label>
          <input required ng-model="vm.editPet.owner" ></input>
        </md-input-container>
        <md-input-container layout-padding>
          <label> Unit Number </label>
          <input required ng-model="vm.editPet.unit" ></input>
        </md-input-container>
        <md-input-container layout-padding>
          <label> Pet Type </label>
          <md-select ng-model="vm.editPet.type">
            <md-option value="Dog"> Dog </md-option>
            <md-option  value="Cat"> Cat </md-option>
            <md-option  value="Rabbit"> Rabbit </md-option>
            <md-option  value="Bird"> Bird </md-option>
            <md-option  value="Fish"> Fish </md-option>
            <md-option  value="Other"> Other</md-option>
          </md-select>
        </md-input-container>


        <md-input-container layout-padding>
          <label> Describe Your Pet </label>
          <textarea required ng-model="vm.editPet.bio" columns="1" md-maxlength="1000"></textarea>
          </md-input-container>

        <div layout="row" style="padding-top:50px">
          <md-button type="submit" class="md-raised" > Edit Pet </md-button>
          <md-button type="button" class="md-raised" ui-sref="ViewPets">Cancel</md-button>
        </div>
    </div>
    </form>
</div>
