<div ng-controller="HomeController as vm" >
<div style="padding: 90px" class='bodyColor' >

<section layout layout-align="center">
  <div class="animated bounceInDown">
  <img src="/images/food.png" style="padding:20px">
    <img src="/images/pals.png" style="padding:20px" >
      <img src="/images/cocktail.png" style="padding:20px">
    </div>
</section>

<p>
Lorem ipsum Duis vitae convallis mi, id tempus purus. Pellentesque libero enim, sagittis nec consequat vitae, vehicula eget turpis. Nulla commodo auctor massa, quis feugiat arcu imperdiet nec. Nam ullamcorper ex eget massa malesuada, et venenatis nibh hendrerit. Maecenas eu laoreet enim. Nullam sed dui in orci lacinia aliquam. Aliquam eu nunc tortor. Mauris lobortis sollicitudin malesuada. Aliquam non velit justo. In congue enim vitae egestas mattis. Vestibulum et nunc non odio fringilla mattis. Nunc venenatis dictum ante, vulputate dignissim ligula condimentum id. Etiam ornare turpis non neque eleifend rutrum eu vel metus. Nam mattis turpis vitae risus tempor, vel cursus enim hendrerit. Nunc metus metus, interdum sit amet augue vitae, efficitur mattis neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
<br>
<br>
Lolor sit amet, consectetur adipiscing elit. Nunc sollicitudin sodales ipsum, ac ultrices tortor sodales lacinia. Nunc euismod, urna vitae feugiat laoreet, tellus tellus interdum augue, vitae viverra sem tortor ut tortor. Proin sollicitudin nulla eu fermentum efficitur. Ut sed egestas metus. Integer quis sodales mauris, ac placerat dolor. Donec pulvinar tellus ac rutrum pretium. Sed vehicula a velit vel efficitur. Nullam tincidunt lorem a orci posuere, a mollis orci consectetur. Duis sem nibh, malesuada ut rhoncus eget, luctus in ante. Proin ullamcorper arcu eget vestibulum ultricies. Aliquam rhoncus dui et aliquet ornare. Cras semper tincidunt dignissim.
<br>
<br>
Aenean malesuada, erat ut faucibus eleifend, elit sem hendrerit augue, non feugiat augue nisl a magna. Fusce non blandit diam. Proin at tincidunt est. Etiam a vulputate augue. Vivamus at consectetur est. Duis tristique velit ut tincidunt congue. Quisque id nisl dignissim, aliquet nunc et, convallis sapien. Donec vehicula pharetra arcu iaculis convallis. Morbi eu fringilla justo. Nunc ut ante fringilla, interdum lacus sed, gravida tellus. Integer fringilla ligula eget urna convallis congue. Aliquam lacinia, purus a euismod laoreet, elit neque fringilla neque, et mollis eros lectus quis tortor. Donec porttitor egestas eros, eleifend convallis justo ullamcorper vitae. Ut rhoncus venenatis ex, eu ultricies nibh mattis quis. In iaculis eget felis quis convallis.
<br>
</p>
</div>
</div>
