<div ng-controller="ViewSittersController as vm" class='bodyColor'>
  <div style="text-align:center; padding:25px;">
    <md-button layout-fill class="md-raised" ui-sref="AddSitter"> CLICK TO ADD YOURSELF TO OUR LIST OF PALS </md-button>
  </div>
  <section layout layout-align="center">
  <div class="animated bounceInLeft" style="padding-bottom: 30px" >
    <img src="/images/peeps.png" style="padding:8px">
    <img src="/images/peeps.png" style="padding:8px">
    <img src="/images/peeps.png" style="padding:8px">
  <img src="/images/peeps.png" style="padding:8px">
</div>
</section>
  <md-content style="padding-left: 90px; padding-bottom: 90px;" class='bodyColor'>
    <div layout layout-wrap>
      <md-card  flex="30" layout-wrap ng-repeat="a in vm.sitters">
        <!-- <img ng-src="/images/polkapal.png" style="height:90px; width:90px; margin:auto; padding-top:20px"> -->
        <md-card-content layout-wrap>
          <span flex></span>
          <div style="text-align:center;">
            <h1> {{a.name | uppercase }}</h1>
          </div>
          <h5> Suite: </h5>
          <h4> {{a.unit}} </h4>
          <span flex></span>
        </md-card-content>
        <div layout>
          <span flex></span>
          <md-button ng-click="vm.showAlert(a)"> Know More </md-button>
          <md-button ng-show='nav.status.username;' ng-click="vm.editSitter(a._id, a)"> Edit </md-button>
          <md-button ng-show='nav.status.username;' ng-click="vm.deleteSitter(a)"> Delete </md-button>
          <span flex></span>
        </div>
      </md-card>
      <br/>
  </md-content>
  </div>
</div>
</div>
